In [2]:
from google.colab import drive
drive.mount('/content/drive/')

Mounted at /content/drive/

In [13]:
import pandas as pd

csv_path = "/content/drive/MyDrive/NLP Project/Data/gsm8k_test.csv"
df = pd.read_csv(csv_path)
df

,question,answer
0,Rose went to the store on Monday and bought 4 ...,On Monday she bought 4 cakes\nOn Tuesday she b...
1,Paul needs 63 cupcakes for a birthday party ha...,The total number of chocolate and toffee cupca...
2,John fills a 6 foot by 4 foot pool that is 5 f...,The pool has a base of 6*4=<<6*4=24>>24 square...
3,John buys 2 pairs of shoes for each of his 3 c...,He bought 3*2=<<3*2=6>>6 pairs of shoes\nSo he...
4,Emma can make and upload 72 vlogs per month. B...,Emma was able to make 18 + 21 + 15 = <<18+21+1...
...,...,...
1314,A merchant wants to make a choice of purchase ...,"If he purchases jewelry, he will make a profit..."
1315,Bud makes homemade macaroni and cheese once a ...,The gruyere cheese is twice the cost of the $3...
1316,An electronics seller bought 5 phones for $700...,The seller bought the 5 phones for $700 * 5 = ...
1317,"Karan borrowed $3,650 for five months at an in...","Karan's interest is $3,650 × 0.1 = $<<3650*0.1..."
1318,Ali had $21. Leila gave him half of her $100. ...,Leila gave 100/2 = $<<100/2=50>>50 to Ali.\nAl...

In [5]:
# Add unique key (integer index)
df['key'] = df.index

# Add dict as string
df['key_question_dict'] = df.apply(lambda row: {"key": row['key'], "question": row['question']}, axis=1)

# Add num_steps
df['num_steps'] = df['answer'].apply(lambda x: str(x).count('\n'))

# Add steps-only column
df['steps'] = df['answer'].apply(lambda x: str(x).split('###')[0].strip())

# Add final answer column
df['final_answer'] = df['answer'].apply(
    lambda x: str(x).split('###')[-1].strip() if '###' in str(x) else ''
)

df

,question,answer,key,key_question_dict,num_steps,steps,final_answer
0,Rose went to the store on Monday and bought 4 ...,On Monday she bought 4 cakes\nOn Tuesday she b...,0,"{'key': 0, 'question': 'Rose went to the store...",4,On Monday she bought 4 cakes\nOn Tuesday she b...,# 76
1,Paul needs 63 cupcakes for a birthday party ha...,The total number of chocolate and toffee cupca...,1,"{'key': 1, 'question': 'Paul needs 63 cupcakes...",2,The total number of chocolate and toffee cupca...,# 15
2,John fills a 6 foot by 4 foot pool that is 5 f...,The pool has a base of 6*4=<<6*4=24>>24 square...,2,"{'key': 2, 'question': 'John fills a 6 foot by...",3,The pool has a base of 6*4=<<6*4=24>>24 square...,# 12
3,John buys 2 pairs of shoes for each of his 3 c...,He bought 3*2=<<3*2=6>>6 pairs of shoes\nSo he...,3,"{'key': 3, 'question': 'John buys 2 pairs of s...",2,He bought 3*2=<<3*2=6>>6 pairs of shoes\nSo he...,# 360
4,Emma can make and upload 72 vlogs per month. B...,Emma was able to make 18 + 21 + 15 = <<18+21+1...,4,"{'key': 4, 'question': 'Emma can make and uplo...",2,Emma was able to make 18 + 21 + 15 = <<18+21+1...,# 18
...,...,...,...,...,...,...,...
1314,A merchant wants to make a choice of purchase ...,"If he purchases jewelry, he will make a profit...",1314,"{'key': 1314, 'question': 'A merchant wants to...",3,"If he purchases jewelry, he will make a profit...",# 125
1315,Bud makes homemade macaroni and cheese once a ...,The gruyere cheese is twice the cost of the $3...,1315,"{'key': 1315, 'question': 'Bud makes homemade ...",3,The gruyere cheese is twice the cost of the $3...,# 520
1316,An electronics seller bought 5 phones for $700...,The seller bought the 5 phones for $700 * 5 = ...,1316,"{'key': 1316, 'question': 'An electronics sell...",2,The seller bought the 5 phones for $700 * 5 = ...,# 500
1317,"Karan borrowed $3,650 for five months at an in...","Karan's interest is $3,650 × 0.1 = $<<3650*0.1...",1317,"{'key': 1317, 'question': 'Karan borrowed $3,6...",3,"Karan's interest is $3,650 × 0.1 = $<<3650*0.1...",# 803
1318,Ali had $21. Leila gave him half of her $100. ...,Leila gave 100/2 = $<<100/2=50>>50 to Ali.\nAl...,1318,"{'key': 1318, 'question': 'Ali had $21. Leila ...",2,Leila gave 100/2 = $<<100/2=50>>50 to Ali.\nAl...,# 71

In [6]:
counts = df['num_steps'].value_counts().sort_index()
print(counts)

num_steps
2     326
3     370
4     298
5     174
6      88
7      40
8      20
9       2
11      1
Name: count, dtype: int64

In [9]:
import numpy as np

rng = np.random.default_rng(seed=42)  # for reproducibility

def sample_range(df, low, high, n):
    mask = (df['num_steps'] >= low) & (df['num_steps'] <= high)
    candidates = df[mask]
    # If fewer than n available, sample all of them
    n_actual = min(n, len(candidates))
    return candidates.sample(n=n_actual, random_state=42)

df_1_3  = sample_range(df, 1, 3, 15)
df_4_7  = sample_range(df, 4, 7, 15)
df_8_11 = sample_range(df, 8, 11, 15)

df_sample = pd.concat([df_1_3, df_4_7, df_8_11]).sample(frac=1, random_state=42).reset_index(drop=True)

def difficulty_from_steps(n):
    if 1 <= n <= 3:
        return "easy"
    elif 4 <= n <= 7:
        return "medium"
    elif 8 <= n <= 11:
        return "hard"
    else:
        return "other"  # or np.nan

df_sample["difficulty"] = df_sample["num_steps"].apply(difficulty_from_steps)

In [10]:
df_sample

,question,answer,key,key_question_dict,num_steps,steps,final_answer,difficulty
0,"Alex, Stan, and Adelwolfe are trying to catch ...",Let x represent the number of Pokemon Adelwolf...,65,"{'key': 65, 'question': 'Alex, Stan, and Adelw...",8,Let x represent the number of Pokemon Adelwolf...,# 147,hard
1,Janet is collecting the results of Herbert Hoo...,First find the pass rate for the fourth grader...,121,"{'key': 121, 'question': 'Janet is collecting ...",6,First find the pass rate for the fourth grader...,# 70,medium
2,Eliza's rate per hour for the first 40 hours s...,Eliza is entitled to 45 -40 = <<45-40=5>>5 hou...,279,"{'key': 279, 'question': 'Eliza's rate per hou...",5,Eliza is entitled to 45 -40 = <<45-40=5>>5 hou...,# 460,medium
3,A tank has a capacity of 18000 gallons. Wanda ...,"On the first day, Wanda pumped 1/4*18000 gallo...",146,"{'key': 146, 'question': 'A tank has a capacit...",8,"On the first day, Wanda pumped 1/4*18000 gallo...",# 6000,hard
4,A nurses’ station orders bandages in bulk pack...,Let B be the number of bandages the nurses’ st...,771,"{'key': 771, 'question': 'A nurses’ station or...",8,Let B be the number of bandages the nurses’ st...,# 19,hard
5,"Bahati, Azibo, and Dinar each contributed to t...",Let B = the number of points Bahati scored\nAz...,1205,"{'key': 1205, 'question': 'Bahati, Azibo, and ...",9,Let B = the number of points Bahati scored\nAz...,# 5,hard
6,Ricardo grows tomatoes and eggplants in his ga...,Ricardo can get 22 x 5 = <<22*5=110>>110 tomat...,1061,"{'key': 1061, 'question': 'Ricardo grows tomat...",3,Ricardo can get 22 x 5 = <<22*5=110>>110 tomat...,# 142,easy
7,Cindy's math and science books weigh 2 pounds ...,The math and science book weigh 2 pounds each ...,905,"{'key': 905, 'question': 'Cindy's math and sci...",3,The math and science book weigh 2 pounds each ...,# 17,easy
8,Ralph has a record store where people can trad...,People can bring in 2 old records = get 1 new ...,564,"{'key': 564, 'question': 'Ralph has a record s...",2,People can bring in 2 old records = get 1 new ...,# 14,easy
9,Melissa is summoned to jury duty. She spends 6...,First find Melissa's net daily pay by subtract...,820,"{'key': 820, 'question': 'Melissa is summoned ...",2,First find Melissa's net daily pay by subtract...,# 2,easy
10,Jane has saved $4 of her allowance every week ...,She has already saved 8 * $4 = $<<8*4=32>>32.\...,1022,"{'key': 1022, 'question': 'Jane has saved $4 o...",3,She has already saved 8 * $4 = $<<8*4=32>>32.\...,# 7,easy
11,A dance studio offers lessons to students. It ...,The total earnings from 10 students is $1.50 x...,772,"{'key': 772, 'question': 'A dance studio offer...",4,The total earnings from 10 students is $1.50 x...,# 480,medium
12,Kelly is grocery shopping at a supermarket and...,Each pack of bacon costs Kelly $10 total / 5 p...,20,"{'key': 20, 'question': 'Kelly is grocery shop...",8,Each pack of bacon costs Kelly $10 total / 5 p...,# 5,hard
13,Jaime is a computer programmer for a company t...,The number of junior programmers in the compan...,405,"{'key': 405, 'question': 'Jaime is a computer ...",6,The number of junior programmers in the compan...,# 224000,medium
14,Gabriel and Luri each own a portable media pla...,Gabriel can still store 100 - 20 = <<100-20=80...,1229,"{'key': 1229, 'question': 'Gabriel and Luri ea...",4,Gabriel can still store 100 - 20 = <<100-20=80...,# 40,medium
15,Lloyd has an egg farm. His chickens produce 25...,"In a week, Lloyd's egg farm produces 252 x 7 =...",148,"{'key': 148, 'question': 'Lloyd has an egg far...",3,"In a week, Lloyd's egg farm produces 252 x 7 =...",# 294,easy
16,The red rope was four times the length of the ...,Let Y = the length of the yellow rope in centi...,111,"{'key': 111, 'question': 'The red rope was fou...",8,Let Y = the length of the yellow rope in centi...,# 20,hard
17,An interior design firm offers installation fo...,The service includes 4 mirrors and she has 6 s...,260,"{'key': 260, 'question': 'An interior design f...",7,The service includes 4 mirrors and she has 6 s...,# 324,medium
18,Melanie is a door-to-door saleswoman. She sold...,First multiply the five remaining vacuum clean...,412,"{'key': 412, 'question': 'Melanie is a door-to...",3,First multiply the five remaining vacuum clean...,# 18,easy
19,Ryan’s allowance is $6 each week he completes ...,Ryan earned $6 x 3 weeks of chores = $<<6*3=18...,928,"{'key': 928, 'question': 'Ryan’s allowance is ...",5,Ryan earned $6 x 3 weeks of chores = $<<6*3=18...,# 2,medium
20,Lee rears only sheep and geese on his farm. I...,Let g be the number of geese and let s be the ...,861,"{'key': 861, 'question': 'Lee rears only sheep...",8,Let g be the number of geese and let s be the ...,# 15,hard
21,Alani's family decided that the children shoul...,"In the first week, Alani wrote 20 stories, and...",515,"{'key': 515, 'question': 'Alani's family decid...",8,"In the first week, Alani wrote 20 stories, and...",# 360,hard
22,"Three friends: Mike, Jim, and Tony decided to ...",After 3 rounds Jim has 21 points - 3 points = ...,257,"{'key': 257, 'question': 'Three friends: Mike,...",4,After 3 rounds Jim has 21 points - 3 points = ...,# 83,medium
23,Cherrie wants to buy Christmas gifts for her 5...,Two of Cherries friends in total want 2*5=<<2*...,1286,"{'key': 1286, 'question': 'Cherrie wants to bu...",3,Two of Cherries friends in total want 2*5=<<2*...,# 26,easy
24,Three people divided an amount of $1920. The s...,Let X be the amount of what the first took.\nT...,942,"{'key': 942, 'question': 'Three people divided...",8,Let X be the amount of what the first took.\nT...,# 420,hard
25,Jean is two years older than Mark. Two years ...,2 years ago Jan was 30-2=<<30-2=28>>28 years o...,804,"{'key': 804, 'question': 'Jean is two years ol...",4,2 years ago Jan was 30-2=<<30-2=28>>28 years o...,# 23,medium
26,Sarah has a rope that is 20 meters long. Her f...,Her friend pays her $40 for the rope because 2...,392,"{'key': 392, 'question': 'Sarah has a rope tha...",3,Her friend pays her $40 for the rope because 2...,# 10,easy
27,A raspberry bush has 6 clusters of 20 fruit ea...,First find the number of fruit in clusters: 20...,306,"{'key': 306, 'question': 'A raspberry bush has...",2,First find the number of fruit in clusters: 20...,# 187,easy
28,A new arcade opens up and Jack decides to play...,Jack puts change in 60/20=<<60/20=3>>3 times a...,491,"{'key': 491, 'question': 'A new arcade opens u...",8,Jack puts change in 60/20=<<60/20=3>>3 times a...,# 11,hard
29,A bag of flour is divided into 8 portions of 2...,A bag of flour has 8 x 2 = <<8*2=16>>16 kilogr...,595,"{'key': 595, 'question': 'A bag of flour is di...",2,A bag of flour has 8 x 2 = <<8*2=16>>16 kilogr...,# 48,easy
30,"Together Lily, David, and Bodhi collected 43 i...",Let B = the number of insects Bodhi collected\...,765,"{'key': 765, 'question': 'Together Lily, David...",9,Let B = the number of insects Bodhi collected\...,# 16,hard
31,Judy bought a dozen cups and twice as many dis...,"Judy brought a dozen cups, which is <<12=12>>1...",24,"{'key': 24, 'question': 'Judy bought a dozen c...",6,"Judy brought a dozen cups, which is <<12=12>>1...",# 120,medium
32,"After scoring 14 points, Erin now has three ti...",Erin now has three times more points than Sara...,1168,"{'key': 1168, 'question': 'After scoring 14 po...",3,Erin now has three times more points than Sara...,# 18,easy
33,Colby loves going to the movies and every mont...,He has spent $50 on Fri/Sat movies because 5 x...,1010,"{'key': 1010, 'question': 'Colby loves going t...",8,He has spent $50 on Fri/Sat movies because 5 x...,# 1,hard
34,"Arnold, Madeline, Camden, and Sarah painted 56...",Arnold and Madeline painted 56 - 30 = <<56-30=...,190,"{'key': 190, 'question': 'Arnold, Madeline, Ca...",5,Arnold and Madeline painted 56 - 30 = <<56-30=...,# 8,medium
35,"Becca, Smendrick, and PJ have collections of M...",Let x represent the number of cards PJ has\nSm...,42,"{'key': 42, 'question': 'Becca, Smendrick, and...",8,Let x represent the number of cards PJ has\nSm...,# 153,hard
36,A candle melts by 2 centimeters every hour tha...,The candle burns for 5 - 1 = <<5-1=4>>4 hours....,616,"{'key': 616, 'question': 'A candle melts by 2 ...",2,The candle burns for 5 - 1 = <<5-1=4>>4 hours....,# 8,easy
37,Debra is monitoring a beehive to see how many ...,"Debra first sees 30 bees leave the hive, then ...",1028,"{'key': 1028, 'question': 'Debra is monitoring...",4,"Debra first sees 30 bees leave the hive, then ...",# 75,medium
38,"Generally, a 5-year-old avocado tree produces ...",At 5 years it produces 50 fruits\nAt 6 years i...,188,"{'key': 188, 'question': 'Generally, a 5-year-...",6,At 5 years it produces 50 fruits\nAt 6 years i...,# 2350,medium
39,Marcel runs a bicycle store. His main products...,"First, let's calculate the price of the BMX bi...",1193,"{'key': 1193, 'question': 'Marcel runs a bicyc...",8,"First, let's calculate the price of the BMX bi...",# 131250,hard
40,Zoey and Sydney are having a watermelon seed s...,Zoey spits a total distance of 400 feet becaus...,628,"{'key': 628, 'question': 'Zoey and Sydney are ...",4,Zoey spits a total distance of 400 feet becaus...,# 410,medium
41,"Farmer Brown's farm is 200 acres, and Farmer S...",Farmer Smith has 2*200+100=<<2*200+100=500>>50...,319,"{'key': 319, 'question': 'Farmer Brown's farm ...",2,Farmer Smith has 2*200+100=<<2*200+100=500>>50...,# 700,easy
42,Two cars are driving on a highway. The first ...,"In two hours, the first car will have traveled...",1114,"{'key': 1114, 'question': 'Two cars are drivin...",3,"In two hours, the first car will have traveled...",# 20,easy
43,Jay is making snowballs to prepare for a snowb...,"Every hour, Jay makes 20 snowballs.\nAt the sa...",1282,"{'key': 1282, 'question': 'Jay is making snowb...",4,"Every hour, Jay makes 20 snowballs.\nAt the sa...",# 5,medium
44,Linus works for a trading company. He buys a m...,The total cost for the devices he bought on Mo...,191,"{'key': 191, 'question': 'Linus works for a tr...",8,The total cost for the devices he bought on Mo...,# 120,hard

In [11]:
df_sample.drop(columns=["key","key_question_dict"], inplace=True)

In [12]:
df_sample

,question,answer,num_steps,steps,final_answer,difficulty
0,"Alex, Stan, and Adelwolfe are trying to catch ...",Let x represent the number of Pokemon Adelwolf...,8,Let x represent the number of Pokemon Adelwolf...,# 147,hard
1,Janet is collecting the results of Herbert Hoo...,First find the pass rate for the fourth grader...,6,First find the pass rate for the fourth grader...,# 70,medium
2,Eliza's rate per hour for the first 40 hours s...,Eliza is entitled to 45 -40 = <<45-40=5>>5 hou...,5,Eliza is entitled to 45 -40 = <<45-40=5>>5 hou...,# 460,medium
3,A tank has a capacity of 18000 gallons. Wanda ...,"On the first day, Wanda pumped 1/4*18000 gallo...",8,"On the first day, Wanda pumped 1/4*18000 gallo...",# 6000,hard
4,A nurses’ station orders bandages in bulk pack...,Let B be the number of bandages the nurses’ st...,8,Let B be the number of bandages the nurses’ st...,# 19,hard
5,"Bahati, Azibo, and Dinar each contributed to t...",Let B = the number of points Bahati scored\nAz...,9,Let B = the number of points Bahati scored\nAz...,# 5,hard
6,Ricardo grows tomatoes and eggplants in his ga...,Ricardo can get 22 x 5 = <<22*5=110>>110 tomat...,3,Ricardo can get 22 x 5 = <<22*5=110>>110 tomat...,# 142,easy
7,Cindy's math and science books weigh 2 pounds ...,The math and science book weigh 2 pounds each ...,3,The math and science book weigh 2 pounds each ...,# 17,easy
8,Ralph has a record store where people can trad...,People can bring in 2 old records = get 1 new ...,2,People can bring in 2 old records = get 1 new ...,# 14,easy
9,Melissa is summoned to jury duty. She spends 6...,First find Melissa's net daily pay by subtract...,2,First find Melissa's net daily pay by subtract...,# 2,easy
10,Jane has saved $4 of her allowance every week ...,She has already saved 8 * $4 = $<<8*4=32>>32.\...,3,She has already saved 8 * $4 = $<<8*4=32>>32.\...,# 7,easy
11,A dance studio offers lessons to students. It ...,The total earnings from 10 students is $1.50 x...,4,The total earnings from 10 students is $1.50 x...,# 480,medium
12,Kelly is grocery shopping at a supermarket and...,Each pack of bacon costs Kelly $10 total / 5 p...,8,Each pack of bacon costs Kelly $10 total / 5 p...,# 5,hard
13,Jaime is a computer programmer for a company t...,The number of junior programmers in the compan...,6,The number of junior programmers in the compan...,# 224000,medium
14,Gabriel and Luri each own a portable media pla...,Gabriel can still store 100 - 20 = <<100-20=80...,4,Gabriel can still store 100 - 20 = <<100-20=80...,# 40,medium
15,Lloyd has an egg farm. His chickens produce 25...,"In a week, Lloyd's egg farm produces 252 x 7 =...",3,"In a week, Lloyd's egg farm produces 252 x 7 =...",# 294,easy
16,The red rope was four times the length of the ...,Let Y = the length of the yellow rope in centi...,8,Let Y = the length of the yellow rope in centi...,# 20,hard
17,An interior design firm offers installation fo...,The service includes 4 mirrors and she has 6 s...,7,The service includes 4 mirrors and she has 6 s...,# 324,medium
18,Melanie is a door-to-door saleswoman. She sold...,First multiply the five remaining vacuum clean...,3,First multiply the five remaining vacuum clean...,# 18,easy
19,Ryan’s allowance is $6 each week he completes ...,Ryan earned $6 x 3 weeks of chores = $<<6*3=18...,5,Ryan earned $6 x 3 weeks of chores = $<<6*3=18...,# 2,medium
20,Lee rears only sheep and geese on his farm. I...,Let g be the number of geese and let s be the ...,8,Let g be the number of geese and let s be the ...,# 15,hard
21,Alani's family decided that the children shoul...,"In the first week, Alani wrote 20 stories, and...",8,"In the first week, Alani wrote 20 stories, and...",# 360,hard
22,"Three friends: Mike, Jim, and Tony decided to ...",After 3 rounds Jim has 21 points - 3 points = ...,4,After 3 rounds Jim has 21 points - 3 points = ...,# 83,medium
23,Cherrie wants to buy Christmas gifts for her 5...,Two of Cherries friends in total want 2*5=<<2*...,3,Two of Cherries friends in total want 2*5=<<2*...,# 26,easy
24,Three people divided an amount of $1920. The s...,Let X be the amount of what the first took.\nT...,8,Let X be the amount of what the first took.\nT...,# 420,hard
25,Jean is two years older than Mark. Two years ...,2 years ago Jan was 30-2=<<30-2=28>>28 years o...,4,2 years ago Jan was 30-2=<<30-2=28>>28 years o...,# 23,medium
26,Sarah has a rope that is 20 meters long. Her f...,Her friend pays her $40 for the rope because 2...,3,Her friend pays her $40 for the rope because 2...,# 10,easy
27,A raspberry bush has 6 clusters of 20 fruit ea...,First find the number of fruit in clusters: 20...,2,First find the number of fruit in clusters: 20...,# 187,easy
28,A new arcade opens up and Jack decides to play...,Jack puts change in 60/20=<<60/20=3>>3 times a...,8,Jack puts change in 60/20=<<60/20=3>>3 times a...,# 11,hard
29,A bag of flour is divided into 8 portions of 2...,A bag of flour has 8 x 2 = <<8*2=16>>16 kilogr...,2,A bag of flour has 8 x 2 = <<8*2=16>>16 kilogr...,# 48,easy
30,"Together Lily, David, and Bodhi collected 43 i...",Let B = the number of insects Bodhi collected\...,9,Let B = the number of insects Bodhi collected\...,# 16,hard
31,Judy bought a dozen cups and twice as many dis...,"Judy brought a dozen cups, which is <<12=12>>1...",6,"Judy brought a dozen cups, which is <<12=12>>1...",# 120,medium
32,"After scoring 14 points, Erin now has three ti...",Erin now has three times more points than Sara...,3,Erin now has three times more points than Sara...,# 18,easy
33,Colby loves going to the movies and every mont...,He has spent $50 on Fri/Sat movies because 5 x...,8,He has spent $50 on Fri/Sat movies because 5 x...,# 1,hard
34,"Arnold, Madeline, Camden, and Sarah painted 56...",Arnold and Madeline painted 56 - 30 = <<56-30=...,5,Arnold and Madeline painted 56 - 30 = <<56-30=...,# 8,medium
35,"Becca, Smendrick, and PJ have collections of M...",Let x represent the number of cards PJ has\nSm...,8,Let x represent the number of cards PJ has\nSm...,# 153,hard
36,A candle melts by 2 centimeters every hour tha...,The candle burns for 5 - 1 = <<5-1=4>>4 hours....,2,The candle burns for 5 - 1 = <<5-1=4>>4 hours....,# 8,easy
37,Debra is monitoring a beehive to see how many ...,"Debra first sees 30 bees leave the hive, then ...",4,"Debra first sees 30 bees leave the hive, then ...",# 75,medium
38,"Generally, a 5-year-old avocado tree produces ...",At 5 years it produces 50 fruits\nAt 6 years i...,6,At 5 years it produces 50 fruits\nAt 6 years i...,# 2350,medium
39,Marcel runs a bicycle store. His main products...,"First, let's calculate the price of the BMX bi...",8,"First, let's calculate the price of the BMX bi...",# 131250,hard
40,Zoey and Sydney are having a watermelon seed s...,Zoey spits a total distance of 400 feet becaus...,4,Zoey spits a total distance of 400 feet becaus...,# 410,medium
41,"Farmer Brown's farm is 200 acres, and Farmer S...",Farmer Smith has 2*200+100=<<2*200+100=500>>50...,2,Farmer Smith has 2*200+100=<<2*200+100=500>>50...,# 700,easy
42,Two cars are driving on a highway. The first ...,"In two hours, the first car will have traveled...",3,"In two hours, the first car will have traveled...",# 20,easy
43,Jay is making snowballs to prepare for a snowb...,"Every hour, Jay makes 20 snowballs.\nAt the sa...",4,"Every hour, Jay makes 20 snowballs.\nAt the sa...",# 5,medium
44,Linus works for a trading company. He buys a m...,The total cost for the devices he bought on Mo...,8,The total cost for the devices he bought on Mo...,# 120,hard

In [15]:
import pandas as pd

df = pd.read_csv("/content/drive/MyDrive/NLP Project/Data/gsm8k_test.csv")

# Add unique key (optional)
df["key"] = df.index

# Original step definition: count '\n'
df["num_steps"] = df["answer"].apply(lambda x: str(x).count("\n"))

# Steps-only (everything before '###')
df["steps_text"] = df["answer"].apply(
    lambda x: str(x).split("###")[0].strip()
)

# Final answer (everything after '###')
df["final_answer"] = df["answer"].apply(
    lambda x: str(x).split("###")[-1].strip() if "###" in str(x) else ""
)

# Turn steps_text into list of steps by splitting on '\n'
df["steps"] = df["steps_text"].apply(
    lambda x: [s.strip() for s in str(x).split("\n") if s.strip()]
)

# Recompute num_steps from this list (should match count('\n') + 1 when non-empty)
df["num_steps"] = df["steps"].apply(len)

# Difficulty buckets by num_steps
def difficulty_from_steps(n: int):
    if 1 <= n <= 3:
        return "easy"
    elif 4 <= n <= 7:
        return "medium"
    elif 8 <= n <= 11:
        return "hard"
    else:
        return "other"

df["difficulty"] = df["num_steps"].apply(difficulty_from_steps)

# Check how many we actually have per difficulty
print(df["difficulty"].value_counts().sort_index())

# Safe sampling helper
def safe_sample(sub_df, n, seed=42):
    k = min(n, len(sub_df))
    return sub_df.sample(n=k, random_state=seed)

RNG_SEED = 42
easy_df   = safe_sample(df[df["difficulty"] == "easy"],   15)
medium_df = safe_sample(df[df["difficulty"] == "medium"], 15)
hard_df   = safe_sample(df[df["difficulty"] == "hard"],   15)

df_sample = pd.concat([easy_df, medium_df, hard_df]) \
             .sample(frac=1, random_state=RNG_SEED) \
             .reset_index(drop=True)

df_sample = df_sample[["key", "question", "steps", "final_answer", "num_steps", "difficulty"]]

print(len(df_sample))
print(df_sample["difficulty"].value_counts())

difficulty
easy      697
hard       23
medium    599
Name: count, dtype: int64
45
difficulty
hard      15
medium    15
easy      15
Name: count, dtype: int64

In [16]:
df_sample

,key,question,steps,final_answer,num_steps,difficulty
0,65,"Alex, Stan, and Adelwolfe are trying to catch ...",[Let x represent the number of Pokemon Adelwol...,# 147,8,hard
1,121,Janet is collecting the results of Herbert Hoo...,[First find the pass rate for the fourth grade...,# 70,6,medium
2,279,Eliza's rate per hour for the first 40 hours s...,[Eliza is entitled to 45 -40 = <<45-40=5>>5 ho...,# 460,5,medium
3,146,A tank has a capacity of 18000 gallons. Wanda ...,"[On the first day, Wanda pumped 1/4*18000 gall...",# 6000,8,hard
4,771,A nurses’ station orders bandages in bulk pack...,[Let B be the number of bandages the nurses’ s...,# 19,8,hard
5,1205,"Bahati, Azibo, and Dinar each contributed to t...","[Let B = the number of points Bahati scored, A...",# 5,9,hard
6,603,James wants to hang crepe-paper streamers from...,[First figure out how much crepe paper James n...,# 70,3,easy
7,372,"Although Soledad works in a windowless office,...","[June has 30 days, so Soledad must hike 9,300 ...",# 60,3,easy
8,564,Ralph has a record store where people can trad...,[People can bring in 2 old records = get 1 new...,# 14,2,easy
9,281,A wooden bridge can carry no more than 5000 po...,[The boxes can weigh up to 5000 pounds - 3755 ...,# 83,2,easy
10,431,"To have the car for the weekend, Wilson's repo...","[He received 65, 94, 81, 86 and a 74 on his 5 ...",# 80,2,easy
11,773,Jo has been making face masks. She can make 4 ...,[It takes 2 yards of material / 4 small masks ...,# 16,5,medium
12,20,Kelly is grocery shopping at a supermarket and...,[Each pack of bacon costs Kelly $10 total / 5 ...,# 5,8,hard
13,405,Jaime is a computer programmer for a company t...,[The number of junior programmers in the compa...,# 224000,6,medium
14,1229,Gabriel and Luri each own a portable media pla...,[Gabriel can still store 100 - 20 = <<100-20=8...,# 40,4,medium
15,148,Lloyd has an egg farm. His chickens produce 25...,"[In a week, Lloyd's egg farm produces 252 x 7 ...",# 294,3,easy
16,111,The red rope was four times the length of the ...,[Let Y = the length of the yellow rope in cent...,# 20,8,hard
17,260,An interior design firm offers installation fo...,[The service includes 4 mirrors and she has 6 ...,# 324,7,medium
18,671,Lloyd earns $10 an hour on Math tutoring. He ...,[Lloyd tutored 5 + 8 = <<5+8=13>>13 hours for ...,# 130,2,easy
19,930,Andy works in the pro shop of a tennis resort....,[Andy is stringing 3 racquets with synthetic g...,# 227,4,medium
20,861,Lee rears only sheep and geese on his farm. I...,[Let g be the number of geese and let s be the...,# 15,8,hard
21,515,Alani's family decided that the children shoul...,"[In the first week, Alani wrote 20 stories, an...",# 360,8,hard
22,257,"Three friends: Mike, Jim, and Tony decided to ...",[After 3 rounds Jim has 21 points - 3 points =...,# 83,4,medium
23,292,A basket contains 25 oranges among which 1 is ...,[20% of 25 oranges is (20/100)*25 = <<(20/100)...,# 17,3,easy
24,942,Three people divided an amount of $1920. The s...,"[Let X be the amount of what the first took., ...",# 420,8,hard
25,805,"Miss Maria is a middle school teacher, and she...",[There are 6 x 25 = <<6*25=150>>150 basketball...,# 30,5,medium
26,393,The number of songs in a playlist is 300. If J...,"[Since each playlist has 300 songs, the total ...",# 60000,2,easy
27,616,A candle melts by 2 centimeters every hour tha...,[The candle burns for 5 - 1 = <<5-1=4>>4 hours...,# 8,2,easy
28,491,A new arcade opens up and Jack decides to play...,[Jack puts change in 60/20=<<60/20=3>>3 times ...,# 11,8,hard
29,932,The restaurant has 170 normal chairs and 23 ch...,[Before sending the chairs and baby chairs to ...,# 160,3,easy
30,765,"Together Lily, David, and Bodhi collected 43 i...",[Let B = the number of insects Bodhi collected...,# 16,9,hard
31,24,Judy bought a dozen cups and twice as many dis...,"[Judy brought a dozen cups, which is <<12=12>>...",# 120,6,medium
32,736,An 8-year old child wants to buy a toy car whi...,"[The boy still needs $12 - $4 = $<<12-4=8>>8.,...",# 4,2,easy
33,1010,Colby loves going to the movies and every mont...,[He has spent $50 on Fri/Sat movies because 5 ...,# 1,8,hard
34,190,"Arnold, Madeline, Camden, and Sarah painted 56...",[Arnold and Madeline painted 56 - 30 = <<56-30...,# 8,5,medium
35,42,"Becca, Smendrick, and PJ have collections of M...","[Let x represent the number of cards PJ has, S...",# 153,8,hard
36,767,Jeff is 10 years older than his younger sister...,"[Martha is 24 - 4 = <<24-4=20>>20 years old., ...",# 30,2,easy
37,1031,John earned 50 dollars an hour and worked 6 ho...,"[He earned $50*6=$<<50*6=300>>300, He has $300...",# 4,5,medium
38,188,"Generally, a 5-year-old avocado tree produces ...","[At 5 years it produces 50 fruits, At 6 years ...",# 2350,6,medium
39,1193,Marcel runs a bicycle store. His main products...,"[First, let's calculate the price of the BMX b...",# 131250,8,hard
40,630,Mark's car breaks down and he needs to get a n...,[The discount on the radiator was 400*.8=$<<40...,# 230,4,medium
41,548,Jennie is helping at her mom's office. She has...,"[She stamped 60/3=<<60/3=20>>20 letters., Then...",# 10,2,easy
42,708,"At a certain grade level, three-fourths of stu...",[Twenty students represent 1 - 3/4 = 1/4 of th...,# 80,2,easy
43,1282,Jay is making snowballs to prepare for a snowb...,"[Every hour, Jay makes 20 snowballs., At the s...",# 5,4,medium
44,191,Linus works for a trading company. He buys a m...,[The total cost for the devices he bought on M...,# 120,8,hard

In [21]:

# save df_sample to CSV (no index column)
df_sample.to_csv('/content/drive/MyDrive/NLP Project/Evaluation/gsm8k_evaluation_set.csv', index=False)


import os

# 1) Choose a full path (EDIT THIS to where you want it saved)
file_path = "/content/drive/MyDrive/NLP Project/Evaluation/gsm8k_evaluation_set.csv"  # Mac/Linux
# or on Windows, for example:
# file_path = r"C:\Users\YourName\Downloads\gsm8k_45_sample.csv"

# 2) Save the DataFrame
df_sample.to_csv(file_path, index=False)

# 3) Print to verify where it went
print("Saved to:", file_path)
print("Current working directory:", os.getcwd())

Saved to: /content/drive/MyDrive/NLP Project/Evaluation/gsm8k_evaluation_set.csv
Current working directory: /content